input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

button[type=button] {
    width: 100%;
    background-color: rgb(41, 31, 172);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
  }

  .bg {
    background-image:url(facility.jpg);

    background-repeat:no-repeat;
 
    background-size:cover;
  }


  .greyborder{
    width: 60%;
    height: 15%;
    background-color: #f1f1c1;
    color: black !important;
    margin-bottom: 5%;
  }
